:root {
    --bs-blue: #1A64FB;
    --bs-red: #E32E2B;
    --bs-yellow:#FFD33F;
    --black:#2E2E2E;
    --bg-color:#454545;
    --bs-light:#fff;
}
@font-face {
    font-family: "KFhimaji";
    src: url(../font/KFhimaji/KFhimaji.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "CHIKARA-YOWAKU";
    src: url(../font/851CHIKARA-YOWAKU/チカラヨワク851CHIKARA-YOWAKU.ttf)   format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "jf-openhuninn";
    src: url(../font/jf-openhuninn-1.1/jf-openhuninn-1.1.ttf)   format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: var(--bg-color);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
main {
    position: relative;
}
a {
    text-decoration: none;
}
/*loading*/
#loading {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/loading.gif);
    background-size: cover;
    position: relative;
}
.loading-text {
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 45%;
    color: #9E9D9C;
    font-family: 'KFhimaji';
    letter-spacing: 5px;
}
.page-label {
    position: absolute;
    width: 101vw;
    height: auto;
    z-index: 1;
}
.page-label.top {
    top: 0;
}
.page-label.bottom {
    bottom: 0;
}
.scrum-panel {
    display: none;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.active {
    display: block!important;
}
.hide {
    display: none!important;
}
/*start*/
#start {
    z-index: 1;
    position: relative;
}
.start-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.po, .role-user {
    position: absolute;
}
#start .po {
    left: -7%;
    width: 800px;
    top: 10%;
}
.role-user {
    width: 720px;
    right: 5%;
    top: 7%;
}
.role-user img[alt="user"] {
    width: 100%;
    height: auto;
}
.role-user img[alt="user_action"] {
    width: 60px;
    height: auto;
    position: absolute;
    top: 28%;
    left: 14%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.start-title {
    font-family: 'KFhimaji';
    color:#fff;
    letter-spacing: 5px;
    font-size: 80px;
}
.start-title h3 {
    font-size: 1em;
}
.start-title h2 {
    font-size: 2em;
}
.start-btn {
    color: #FFD33F;
    font-family: 'KFhimaji';
    font-size: 60px;
    letter-spacing: 1rem;
}
.copy-right {
    font-family: 'jf-openhuninn';
    font-size: 20px;    
    text-align: center;
    color: #E6E6E6;
}
/* story block */
#story-block {
    width: 100%;
    height: 134vh;
    background-image: url(../img/QA_twohand.png);
    background-size: cover;
    position: relative;    
    transform: scale(.8) translateY(30%);
    transition-delay: 1.5s;
    transition-duration: 2s;
    padding: 15% 10%;
}
#story-block.active {
    transform: scale(1) translateY(0);
}
#story .po {
    width: 40%;
    height: auto;
    left: 35%;
    z-index: -1;
}
#story-block p {
    font-size: 3rem;
    color: #454545;
    font-family: 'jf-openhuninn';
    padding: 3rem;
    text-align: center;
}
#story-block .step-btn {
    position: absolute;
    left: 45%;
}
/* po-talk */
#po-talk .po {
    width: 35%;
    position: absolute;
    left: 0;
    top: 5%;
}
#po-talk .talking {
    width: 15%;
    position: absolute;
    left: 30%;
    animation: swing 3s linear infinite;
}
.info-block {
    position: absolute;
    bottom: 28px;
    left: 25px;
    background: #F3EEE9;
    width: calc( 100vw - 50px);
    min-height: 30vh;
    border-radius: 5px;
    padding: 1em 2em;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 4px #201c1b, 0 0 0 21px #9e9d9c, 0 0 0 25px #201c1b;
}
.info-block .step-btn {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.info01, .info02 {
    display: none;
}
.again {
    width: fit-content;
    height: auto;
    margin-left: auto;
}
.again svg {
    fill: #9E9D9C;
}
.next:hover svg, .again:hover svg {
    fill: var(--bs-blue);
}
/* test-block */
#go-test .po {
    width: 35%;
    position: absolute;
    right: 0;
    top: 5%;
}
#test-block {
    width: 100%;
    height: 134vh;
    background-image: url(../img/QA_onehand.png);
    background-size: cover;
    position: relative;    
    transform: scale(.8) rotate(30deg) translateY(30%);
    transition-delay: 1.5s;
    transition-duration: 2s;
    padding: 15%;
}
#test-block.active {
    transform: scale(1.15) rotate(0) translateY(-8%);
}
.test-area {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.action-tip, .drag-card {
    font-family: 'jf-openhuninn';
    color: var(--bs-light);
}
.test-title {
    font-family: 'jf-openhuninn';
    color: #454545;
}
.test-title h3 {
    opacity: .6;
    margin-bottom: 1rem;
}
.test-title h2 em {
    font-size: 1.2rem;
}

.drag-card {
    width: 300px;
    padding: 28px 12px 14px 12px;
    text-align: center;
    font-size: 36px;
    background-image: url(../img/drag-card.png);
    background-size: 100% 100%;
    margin-left: auto;
}
.drag-card:nth-child(even) {
    transform: translateX(2em);
}
.drag-card + .drag-card {
    margin-top: 1em;
}
.drag-card p {
    margin-top: 5px;
    font-size: .8rem;
}
.sort-card {
    color: #fff;
    background: #1A64FB;
    border-radius: 20px;
    padding: 1em;
    font-family: 'jf-openhuninn';
    font-size: 30px;
    letter-spacing: .05em;
    position: relative;
    padding-right: 3em;
}
.sort {
    width: 320px;
    height: 120px;
    border: 2px dashed #fff;
    border-radius: 8px;
    margin: 16px auto;
}
.sort em {
    font-size: 60px;    
    line-height: 1.8;
    text-align: center;
    opacity: 0.4;
    display: block;
    z-index: -1;
}

.sort-tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: #002B78;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.sort-tip b {
    color: #fff;
    opacity: .6;
    transform: rotate(-90deg);
    padding: 1.5em 0;
    font-size: 18px;
}
/* button */
button {    
    border: none;
    outline: none;
    background-color: transparent;
}
.step-btn {
    font-size: 6rem;
    color: #454545;
    font-family: 'KFhimaji';
    letter-spacing: 1rem;
}

@media(max-width: 1440px) {
    #start .po {        
        width: 690px;
    }
    .role-user {
        width: 630px;
        right: 0;
    }
    .start-title {
        font-size: 60px;
    }
    .start-btn {
        font-size: 48px;
    }
    #story-block {
        transform: scale(.8) translateY(25%);
    }
    #test-block {
        padding: 13% 18%;
    }
    .drag-card {
        width: 256px;
        padding: 20px 10px 10px 10px;
        font-size: 24px;
    }
    .sort {
        width: 276px;
        height: 100px;
        margin: 12px auto;
    }
    .sort-tip b {
        padding: 1em 0;
    }
}

